{% extends 'base.html.twig' %}

{% block body %}

	<header>
		Actuellement nous avons <strong>{{ formations.getTotalItemCount}}</strong> formations dans notre catalogue.
	</header>

	<section class="d-flex flex-wrap gap-2" style="padding: 2rem;">

		{% for formation in formations %}
			<div class="card w-25" style="padding: 2rem; margin: 1.5rem;">
				<div class="card-body">
					<h5 class="card-title">{{ formation.titre }}</h5>
					<p class="card-text">{{ formation.resume }}.</p>
					<a href="#" class="btn btn-primary">Details</a>
				</div>
			</div>

		{% endfor %}

	</section>

	<footer>{{ knp_pagination_render(formations)}}</footer>

{% endblock %}
